page-posts {
  
  ion-content {
    background: url('../assets/video/bg_video_2.jpg') 0 0 no-repeat;
    background-size: cover;
  }
  
  .scroll-content {
    overflow-y: hidden;
  }
  
  .post-wrap {
    position: relative;
    width: 90%;
    height: 92%;
    margin: 5%;
    background: rgba(255, 255, 255, 0.8);
    > div {
      
      &.post-question {
        padding-bottom: 0;
        > h1 {
          font-size: 2rem;
        }
        > p {
          font-size: 11px;
          padding-top: 0;
          border-bottom: 1px solid color($colors, main);
        }
      }
      
      &.post-textarea {
        
        //background: #111;
        textarea {
          width: 100%;
          height: 100%;
          border: none;
          background-color: transparent;
          resize: none;
        }
      }
    }
  }
}
