<ion-header>
  <ion-navbar>
    <ion-buttons start left>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{postsData.reg_dt | date}}</ion-title>
    <ion-buttons end right *ngIf="postsType == 'write'">
      <button ion-button icon-only (click)="savePosts()">
        <ion-icon name="md-checkmark"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end right *ngIf="postsType == 'update'">
      <button ion-button icon-only (click)="updatePosts()">
        <ion-icon name="md-checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header> 

<ion-content [ngStyle]="{'background-image': bg_url}">
  <div class="post-wrap">
    <div class="post-question" padding>
      <h1 ion-text text-center padding no-margin>{{postsData.question}}</h1>
    </div>
    <div class="post-textarea" padding>
      <textarea id="contents" placeholder="글을 작성해주세요." [(ngModel)]="postsData.contents" [disabled]="typeCheck" autofocus></textarea>
      <div class="post-btn-wrap" *ngIf="typeCheck">
        <span (click)="update()">수정</span><span (click)="deletePosts()">삭제</span>
      </div>
    </div>
  </div>
</ion-content>
