page-home {

  #backgroundvideo {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100%; // auto;
    height: 100%; // auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url('../assets/video/bg_video_2.jpg') 0 0 no-repeat;
    background-size: cover;
  }
  
  .scroll-content {
    overflow-y: auto;
  }
  
  #bg_black {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
  }
  
  .flex-item {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    flex-wrap: wrap;
    
    &.post-question {
      flex: 2;
      position: relative;
      > div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 280px;
        >h1 {
          font-weight: bold;
        }
        > p {
          font-size: 11px;
        }
      }
    }
    
    &.post-btn-wrap {
      flex: 1;
      position: relative;
      > div {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        > button {
          width: 40%;
          margin: 0 auto;
        }
      }
    } 
  }
  
}


