// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

//.toolbar-title {
//  background: url(../assets/images/ansem_2.png) center 0 no-repeat;
//  background-size: contain;
//  text-indent: -9999px;
//}

//.toolbar-title {
//  font-family: 'Rainbow Bridge', sans-serif !important;
//  font-size: 2.5rem;
//  font-weight: normal;
//}

ion-content {
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

#bg_black {
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  //background: url("../assets/images/bg_black.png") 0 0 repeat;
}